/* Nav */
nav {
  display: flex;
  justify-content: space-around;
  background-color:rgb(63, 60, 60);
}

nav img {
 width:50px;
}

nav ul {
  display: flex;
}
nav ul li {
  padding: 3px;
  list-style-type: none;
  margin-right:10px;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
}
nav ul li a {
  text-decoration: none;
  display: inline-block;
  color:white;
   padding:5px;
 
}
nav ul li:hover{
  background-color:rgb(26, 125, 231);
}
/* Mobile first responsive design */
@media (min-width: 675px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
  }

  nav ul li {
    padding: 10px;
  }
}
